.notFound{
    background-color: #FCF9F4;
}
.notFound h2{
    color:#00A68A;
    text-align: center;
}
.notFound p{
    padding-bottom: 30px;
    padding-top: 10px;
}
p a{
    color: white;
    background-color: #00A68A;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 10px;
}